<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #80a9ed">
    <div class="container">
        <div class="navbar-header" style="width: inherit">
            <a class="navbar-brand" href="{% url 'lab-10:dashboard' %}" style="color: #edecd6">Home</a>
            <a href="{% url 'lab-10:movie_list' %}">Movie List</a>
            <a href="{% url 'lab-10:list_watch_later' %}">Watch Later</a>
        </div>
    </div>
</nav>
