{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    {% for movie in watch_later_movies %}
    	<div class="card" style="max-width: 30rem">
                <h3 class="card-header">{{ movie.title }}</h3>
                <div class="card-block">
                    <img src= "{{ movie.poster }}" style="text-align: center">
                    <hr/>
                    <p class="card-text"><b>Actors:</b> {{ movie.actors }}</p>
                    <p class="card-text"><b>Genre:</b> {{ movie.genre }}</p>
                    <p class="card-text"><b>Plot:</b> {{ movie.plot }}</p>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}
