<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #80cdff">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <a class="navbar-brand" href="#" style="color: #edecd6">Home</a>
    </div><!--/.nav-collapse -->
  </div>
</nav>
